*{
    margin: 0;
    padding: 0;
}
.E1{
    background-color: rgba(229, 84, 115, 0.10);
    width: 1920px;
    height: 850px;
    flex-shrink: 0;
    display: flex;
}
.E011{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 708px;
    height: 288px;
    padding-top: 197px;
    padding-left: 240px;
    padding-right: 97px;
    margin-bottom: 32px;
}
.E012{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    width: 634px;
    height: 90px;
    margin-top: 32px;
    padding-left: 240px;
    padding-right: 171px;
}
.E013{
    padding-left: 240px;
    padding-bottom: 147px;
    margin-top: 32px;
}
.btn1{
    padding-left: 43px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 43px;
    border-radius: 8px;
    background: #E55473;
    border-color: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.E02{
    width: 635px;
    height: 800px;
    padding-top: 50px;
    padding-right: 240px;
}
.E21{
    width: 392px;
    height: 48px;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 178px;
    padding-left: 764px;
}
.E31{
    width: 594px;
    height: 60px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-top: 24px;
    padding-left: 663px;
    padding-bottom: 48px;
}
.E411{
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.E41{
    padding-left: 240px;
}
.E4111{
    padding-left: 76px;
    padding-top: 110px;
    padding-right: 78px;
    padding-bottom: 67px;
}
.E412{
    width: 181px;
    height: 35px;
    padding-top: 32px;
    padding-left: 141px;
}
.E4121{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px; /* 145.833% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}
.E421{
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.E4211{
    width: 370px;
    height: 370px;
    flex-shrink: 0;
    padding-left: 47px;
    padding-top: 117px;
    padding-right: 47px;
    padding-bottom: 51px;
}
.E422{
    width: 181px;
    height: 35px;
    padding-top: 32px;
    padding-left: 141px;
}
.E4221{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px; /* 145.833% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}
.E42{
    padding-left: 24px;
}
.E431{
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.E4311{
    width: 314px;
    height: 471px;
    flex-shrink: 0;
    padding-left: 75px;
    padding-top: 67px;
    padding-right: 75px;
}
.E432{
    width: 181px;
    height: 35px;
    padding-top: 32px;
    padding-left: 141px;
}
.E4321{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px; /* 145.833% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}
.E43{
    padding-left: 24px;
    padding-right: 240px;
}
.E4{
    width: 1920px;
    display: flex;
    justify-content: center;
}
.E5{
    padding-left: 240px;
    padding-top: 128px;
}
.E51{
    width: 1440px;
    height: 320px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}
.E511{
    width: 547px;
    height: 320px;
}
.E512{
    width: 416px;
    height: 320px;
}
.E513{
    width: 477px;
    height: 320px;
}
.img1{
    width: 88px;
    height: 88px;
    flex-shrink: 0;
    padding-left: 317px;
    padding-top: 86px;
}
.para1{
    width: 372px;
    height: 35px;
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px; /* 145.833% */
    padding-left: 175px;
    padding-top: 24px;
}
.img2{
    width: 88px;
    height: 88px;
    flex-shrink: 0;
    padding-left: 214px;
    padding-top: 86px;
}
.para2{
    width: 316px;
    height: 35px;
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px; /* 145.833% */
    padding-left: 100px;
    padding-top: 24px;
}
.img3{
    width: 88px;
    height: 88px;
    flex-shrink: 0;
    padding-left: 157px;
    padding-right: 232px;
    padding-top: 86px;
}
.para3{
    width: 202px;
    height: 35px;
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px; /* 145.833% */
    padding-left: 100px;
    padding-right: 175px;
    padding-top: 24px;
}